html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@import url("./components/layout.css");
@import url("./pages/search.css");
@import url("./pages/bookmarks.css");